.sortProducts {
  .toggle {
    .sortToggleBtn {
      display: inline;
      position: relative;
      width: 90px;
      border: none;
      background-color: white;
      font-size: 15px;
      &:hover {
        color: #2ac1bc;
      }
    }
    .sortBtn {
      padding: 10px;
      border: none;
      background-color: white;
      font-size: 15px;
      &:hover {
        color: #2ac1bc;
      }
    }
    .toggleContent {
      position: absolute;
      z-index: 10;
      width: 100px;
      height: 130px;
      border: 1px solid lightgrey;
      background-color: white;
    }
  }
  .sortProductsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 5%;
  }
}
