.count {
  display: flex;

  .countInput {
    display: flex;
    align-items: center;
    gap: 5px;

    .countBtn {
      width: 20px;
      height: 20px;
      border: solid 1px lightgray;
      border-radius: 3px;
      background-color: white;
      color: grey;
    }

    .countInputText {
      width: 40px;
      height: 20px;
      padding: 2px;
      border: solid 1px lightgray;
      border-radius: 3px;
      text-align: center;
    }
  }
}
