.product {
  .linkToProduct {
    text-decoration-line: none;
  }
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 40px;
  }

  .itemImg {
    width: 300px;
    height: 300px;
    transition: all 0.3s;
  }

  .eachProductText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    color: black;
    gap: 15px;

    &:hover {
      color: #2ac1bc;
      cursor: pointer;
    }
    .componentTitle {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
  }
}
