.cartContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 200px 0;

  .orderStep {
    margin-top: 9%;
    padding: 20px 0 70px 0;
  }

  .cartText {
    display: flex;
    align-items: center;
    margin-left: 30%;
    font-size: 52px;
    font-weight: 700;
  }

  .cartWrapper {
    display: flex;
    position: relative;
    width: 960px;
    margin: 0 auto;

    .cartContent {
      position: relative;
      flex: 0 0 auto;
      width: 70%;
      margin: 0 40px 0 0;
      padding: 0 40px 0 0;

      .cartHeader {
        display: flex;
        align-items: center;
        height: 500px;
        padding-bottom: 15px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
      }

      .dataNone {
        margin-left: 45%;
      }

      .title {
        font-size: 54px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 60px;
      }

      .text {
        margin-top: 20px;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
.paymentArea {
  position: absolute;
  z-index: 1;
  top: 32%;
  right: 20%;
  width: 240px;
  padding-top: 36px;
  transition: 0.1s ease bottom;

  .paymentBorder {
    padding-top: 70px;
    border-top: 1px solid lightgray;
  }

  .price {
    display: inline-block;
    margin-right: 59%;
  }

  .priceNum {
    display: inline-block;
    padding-bottom: 5%;
  }

  .priceText {
    display: inline-block;
    margin-right: 69%;
    padding-bottom: 20%;
  }

  .deliveryNum {
    display: inline-block;
  }

  .pay {
    padding-top: 20%;
    padding-bottom: 20%;
    border-top: 1px solid lightgray;
  }

  .payMoney {
    display: inline-block;
    margin-right: 55%;
    color: #2ac1bc;
    font-weight: 500;
  }

  .lastNum {
    display: inline-block;
    color: #2ac1bc;
    font-weight: 500;
  }

  .paymentButton {
    width: 243px;
    height: 40px;
    border: none;
    border-radius: 15px;
    color: white;
  }
}
