.error {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      color: #2ac1bc;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
    }
    .text {
      text-align: center;
    }
    .link {
      .goToMain {
        width: 400px;
        height: 60px;
        border: solid 0px;
        border-radius: 7px;
        background-color: #2ac1bc;
        color: white;

        &:hover {
          border: solid 1px #2ac1bc;
          background-color: white;
          color: #2ac1bc;
        }
      }
    }
  }
}
