.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;

  .title {
    padding: 50px;
    font-size: 30px;
    font-weight: 700;
  }

  .inputContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    gap: 15px;

    .id {
      width: 400px;
      height: 60px;
      padding: 15px;
      border: solid 1px lightgray;
      border-radius: 7px;
      outline: none;

      &:focus {
        border: solid 1px #2ac1bc;
      }
    }

    .pw {
      width: 400px;
      height: 60px;
      padding: 15px;
      border: solid 1px lightgray;
      border-radius: 7px;
      outline: none;

      &:focus {
        border: solid 1px #2ac1bc;
      }
    }

    .saveContainer {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        color: gray;
        font-size: 13px;
      }
    }
  }

  .loginButton {
    width: 400px;
    height: 60px;
    margin: 20px;
    border: solid 0px;
    border-radius: 7px;
    background-color: rgb(236, 234, 234);
    font-size: 16px;
    font-weight: 700;
  }

  .greenButton {
    background-color: #2ac1bc;
    color: white;

    &:hover {
      border: solid 1px #2ac1bc;
      background-color: white;
      color: #2ac1bc;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 15px;

    p {
      color: lightgray;
    }

    button {
      border: solid 0px;
      background-color: white;
      color: gray;
    }
  }
}
