.mainSlide {
  position: relative;
  max-width: 100%;

  & .mainPicture1 {
    width: 100%;
    height: 50%;
  }
}

.icon {
  display: flex;
  position: absolute;
  top: 350px;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  transform: translateY(-50%);
  color: lightgray;
  font-size: 50px;
  cursor: pointer;

  & .backBtn {
    &:hover {
      opacity: 0.5;
    }
  }
  & .nextBtn {
    margin-right: 30px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.firstBanner,
.secondBanner {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bestSeller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 300px;
  margin: 5% auto;
  border: 1px solid red;
}
.recommendItem {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-bottom: 5%;
}
