.signUpSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  .fullContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;

    .title {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }

    .border {
      border: 0.5px solid lightgray;
    }

    .full {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .info {
        font-size: 20px;
        font-weight: 700;
      }

      .fullInput {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .inputTag {
          width: 400px;
          height: 60px;
          padding: 15px;
          border: solid 1px lightgray;
          border-radius: 7px;
          outline: none;

          &:focus {
            border: solid 1px #2ac1bc;
          }
        }

        .red {
          &:focus {
            border: solid 1px red;
            background-color: #f8c8dc;
          }
        }
      }
    }

    .signUp {
      width: 400px;
      height: 60px;
      border: solid 0px;
      border-radius: 7px;
      background-color: rgb(236, 234, 234);
      color: gray;
      font-size: 16px;
      font-weight: 700;
    }

    .greenButton {
      background-color: #2ac1bc;
      color: white;

      &:hover {
        border: solid 1px #2ac1bc;
        background-color: white;
        color: #2ac1bc;
      }
    }

    .modalBlack {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);

      .welcom {
        display: flex;
        position: absolute;
        z-index: 100;
        top: 33%;
        left: 37%;
        flex-direction: column;
        padding: 50px;
        border: solid lightgray 1px;
        border-radius: 7px;
        background-color: white;
        gap: 20px;

        .welcomTitle {
          font-size: 25px;
          font-weight: 700;
          text-align: center;
        }
        .welcomText {
          font-size: 18px;
          text-align: center;

          .textColor {
            color: #2ac1bc;
            font-weight: 500;
          }
        }
      }
    }
  }
}
