.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  .fullContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 430px;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .subTitle {
    font-size: 20px;
  }

  .border {
    border: solisd 1px lightgray;
  }

  .fullAgreement {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .full {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      color: #2ac1bc;
    }
  }

  .phone {
    width: 430px;
    height: 60px;
    border: solid 0px;
    border-radius: 7px;
    background-color: #2ac1bc;
    color: white;
    font-size: 16px;
  }
}
