.cartComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  .checkAndName {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .right {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
