.regularInfo {
  display: flex;
  padding: 20px;

  .title {
    font-size: 23px;
    font-weight: 700;
  }

  .delivary {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .subTitle {
      font-size: 19px;
      font-weight: 500;
    }
  }

  .exchange {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .refund {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
