/* stylelint-disable order/properties-order */
/* stylelint-disable selector-class-pattern */
.footer {
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0;

  .footerContainer {
    max-width: 100%;
    margin: 0 auto;
    height: 200px;

    .footerInfo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 90%;

      .footerLogo {
        margin: 50px 0 0 10px;
        font-size: 30px;
        font-weight: 700;
      }

      a {
        position: relative;
        font-weight: 600;
        font-size: 15px;
        top: 30px;
        left: 10px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  .information {
    max-width: 70%;
    position: relative;
    top: 20px;
    left: 21%;
    color: gray;
  }
}
