.nav {
  position: sticky;
  z-index: 10;
  top: 0px;
  .navContainer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    border-bottom: 1px solid lightgray;
    background-color: white;

    .mainLogo {
      width: 450px;
      cursor: pointer;
    }

    .loginBtn,
    .logoutBtn {
      position: relative;
      bottom: 5px;
      width: 80px;
      height: 40px;
      border: 2px solid black;
      border-radius: 30px;
      background-color: white;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;
    }

    .navMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 90px;

      .menuLink {
        border: none;
        background-color: white;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: #2ac1bc;
        }
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 10px;
      .cart {
        margin: 0;
        padding-right: 10px;
        color: black;
        font-size: 22px;
        cursor: pointer;
      }
      .leadingGlass {
        padding-right: 10px;
        color: black;
        font-size: 22px;
        cursor: pointer;
      }
      .menuBtn {
        border: none;
        background-color: white;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
